@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?cxu75d');
  src:  url('fonts/icomoon.eot?cxu75d#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?cxu75d') format('truetype'),
    url('fonts/icomoon.woff?cxu75d') format('woff'),
    url('fonts/icomoon.svg?cxu75d#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e900";
}
.icon-instagram:before {
  content: "\e901";
}
.icon-mail:before {
  content: "\e902";
}
.icon-menu:before {
  content: "\e903";
}
.icon-whatsapp:before {
  content: "\e904";
}
